# Backend
backend/venv/
backend/__pycache__/
backend/.pytest_cache/
backend/.env
backend/.env.*
!backend/.env.example

# Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Other
.DS_Store
.idea/
.vscode/
